<template name="footer">
  <div class="fixed-bottom">
    <div class={{containerClass}}>
      <div class="snackbar-container">
        {{> displayViolationCaseUnreadNotification}}
        {{> displayAnnouncementUnreadNotification}}
        {{> unreadImportantFscLogsNotification}}
        {{> displayLegacyAnnouncement}}
      </div>
      <div class="bg-faded text-center px-3 py-1 rounded" style="max-height: 50px;">
        {{#if advertising}}
          {{> displayAdvertising advertising}}
        {{/if}}
      </div>
    </div>
  </div>
</template>

<template name="unreadImportantFscLogsNotification">
  {{#if isDisplay}}
    <div class="media bg-danger text-white px-2 py-1 my-2 rounded footer-message-container">
      <div class="media-body footer-message">
        <strong style="color: yellow">【注意】</strong>
        您有未讀的重要金管會相關訊息！請至您的<a style="color: yellow" href="{{accountInfoLink currentUserId}}">帳號資訊</a>頁面之玩家紀錄區塊查看。
      </div>
      <div class="footer-message-close-button">
        <a class="btn btn-danger btn-sm" href="#">
          <i class="fa fa-times" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  {{/if}}
</template>

<template name="displayLegacyAnnouncement">
  {{#if isDisplay}}
    <div class="media bg-info px-2 py-1 my-2 rounded footer-message-container">
      <div class="media-body footer-message">
        【系統公告】：
        {{{announcement}}}
      </div>
      <div class="footer-message-close-button">
        <a class="btn btn-danger btn-sm" href="#">
          <i class="fa fa-times" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  {{/if}}
</template>

<template name="displayAnnouncementUnreadNotification">
  {{#if isDisplay}}
    <div class="media bg-warning px-2 py-1 my-2 rounded footer-message-container">
      <div class="media-body footer-message" style="color: white">
        <strong>【注意】</strong> 您有 {{count}} 則未讀的系統公告，請至<a style="color: yellow" href="{{pathFor 'announcementList'}}">系統公告</a>頁面查看！
      </div>
      <div class="footer-message-close-button">
        <a class="btn btn-warning btn-sm" href="#">
          <i class="fa fa-times" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  {{/if}}
</template>

<template name="displayViolationCaseUnreadNotification">
  {{#if isDisplay}}
    <div class="media bg-danger px-2 py-1 my-2 rounded footer-message-container">
      <div class="media-body footer-message" style="color: white">
        <strong>【警告】</strong> 您有 {{count}} 則未讀的違規案件，請至<a style="color: cyan" href="{{pathForUnreadViolationCaseList}}">違規案件列表</a>頁面查看！
      </div>
      <div class="footer-message-close-button">
        <a class="btn btn-danger btn-sm" href="#">
          <i class="fa fa-times" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  {{/if}}
</template>

<template name="displayAdvertising">
  <div class="footer-message-container">
    來自
    {{>userLink this.userId}}
    的廣告：「
    {{#if this.url}}
      <a href="{{this.url}}" target="_blank">{{this.message}}</a>
    {{else}}
      {{this.message}}
    {{/if}}
    」
  </div>
</template>
