<template name="tutorial">
  <div class="card">
    <div class="card-block">
      <h1 class="card-title">教學導覽</h1>
      <hr />
      <div style="white-space: pre;padding-left: 2rem;">1.帳號系統：
  任何人都可以用ptt的帳號在股票系統上註冊帳號，
  但剛註冊完成時會不能使用任何功能，必須先通過認證。
  認證方法是領取系統給予的認證碼，
  在PTT c_chat的指定文章下以註冊的PTT帳號推文該認證碼。

2.股票的上市：
  任何人皆可以申請為某個ACGN作品的角色創立公司，
  做法是在「新創計劃」頁面底下點擊「建立新角色」。
  新創計劃申請之後會有至少一個小時的投資期限，
  在期限內，任何通過驗證的使用者皆可對此新創計劃進行投資，
  最低投資金額為100，最高不設限。
  一但下單成功，金錢就會立刻從使用者帳戶中扣除。
  只要期限到達且最終的投資人數超過10人以上，公司便會創立。
  若投資期限到達後投資人數仍未達10人，則投資期限會自動延長，直到投資人數足夠為止。

  公司創立之後將會釋出數量約1000的起始股份依投資格比率分給所有投資人，
  而該公司股票的起始價格即為所總投資額除以分發出去的投資股份數量。

  需要注意的是，原則上本系統禁止為相同的角色重複建立公司，
  而相同角色的定義則包含同一世界觀底下不同作品的所有相同角色。
  如有發現或被人舉報，後建立的公司將會被撤銷，所有股份皆歸零。
  投資有風險，須謹慎考量。

3.經理人與公司產品：
  當公司創立後，最初申請創立計劃的人即為該公司的經理人。
  經理人可以為負責的公司推出產品，
  為了避免儲存空間不夠的問題，系統內只存放「通往真正作品網頁」的連結，
  產品可以是同人圖、ANSI、同人文等等，產品的原作者不一定會是經理人，
  但請經理人在發布產品時務必通過原作者的同意，
  一但被原作者舉報，情節嚴重者將會取消經理人資格。

  目前產品相關功能尚未完成，敬請期待

4.經理人的更迭：
  除了申請創立公司成為經理人，使用者還競爭已存在公司的經理人位置，
  一但有驗證通過的使用者競爭經理人，在下個商業季度開始後，
  所有持有該公司股票的股東便可以對所有競爭者進行投票，
  各股東的票權與其持股比率相當，
  在下個商業季度結束時，所得票權最高的參選人便可成為經理人。
  除此之外，公司的經理人隨時可以辭職不幹。

  目前經理人競選功能尚未完成，敬請期待。

5.公司的收益：
  一週為一個商業季度。（公測期間為三天）
  每個商業季度結束時，上個商業季度推出的產品將會進入投票榜，
  所有通過驗證的使用者將會視當季的產品數量得到相同數量的推薦票，
  並對自己喜愛的產品投票推薦。
  當新的商業季度結束後，所有進入投票榜的產品將會進行排名結算，
  產品總得票數排名靠前的公司可因此獲得一定數量的收益，
  全公司領取的總收益金額與當前系統內已驗證通過的使用者成正比。
  公司的收益金額將分出百分之五作為經理人的薪水，
  剩餘收益金額則依照持股比例由股東均分。

  上述的功能皆尚未完成，敬請期待。

6.買入股票：
  當公司成立之後，所有人就可以開始對該公司的股票下達購買訂單，
  下單時需決定「願意購買的每股單價」與「購買數量」，
  但最高單價不可高於該公司當前股價的兩倍、最低不可低於一半。
  一但下單成功，金錢就會立刻從使用者帳戶中扣除。
  確立的買入訂單可以取消，但需要付出一元的手續費用。

7.賣出股票：
  持有股票者可以在任何時候下達販賣訂單，
  下單時需決定「願意出手的每股最低單價」與「賣出數量」，
  但最高單價不可高於該公司當前股價的兩倍、最低不可低於一半。
  一但下單成功，持有股份會立刻從使用者帳戶中扣除。
  確立的賣出訂單可以取消，但需要付出一元的手續費用。

8.股票的交易：
  每隔一分鐘，股票市場就會進行所有訂單的交易處理，
  販賣股票訂單會以「願意出手最低單價最低者優先」，
  購入股票訂單會以「出價最高者優先」進行股票交易，
  交易時的每股單價與數量以購入股票者提出的單價與數量為準。
  每次股票交易都將處理到「所有賣單處理完畢」為止。
  之後該股票的時價會以「最後成交的價格」為準。
  若沒有任何訂單成交，則股價不會有任何改變。

9.股票的釋出：
  當一家的公司股票上市後，每隔一段隨機時間，
  若該公司的股價在一定程度以上，且擁有任何高於股價且尚未被處理的買入訂單，
  就會有一定機率釋出更多的股票進市場，
  此機率與釋出的股份數量與買入訂單的單價與數量成正比相關，
  但釋出股票的總量不會超出「高出股價買入訂單的購股總數量」。
  釋出股票的交易過程與正常股票交易方式相同，價高者得，釋股過程同樣會影響股價。

6.帳戶的金錢來源：
  所有使用者在通過驗證後皆可以領到一萬元的起始資金，
  每經過一小時，所有通過驗證的使用者都會再得到一千元的薪資。
  除此之外，每個商業季度（一週）結束時，
  經理人與股東皆可獲得公司收益的分紅。

7.公開透明原則：
  所有股票的買單、賣單、交易紀錄與所有帳戶的下單行為、持股量皆是公開的，
  任何一位已通過認證的帳戶都可以在「帳號資訊」頁面查詢得知。
      </div>
    </div>
  </div>
</template>