<template name="tutorial">
  <div class="card">
    <div class="card-block">
      <h1 class="card-title">教學導覽</h1>
      <hr />
      <div style="white-space: pre-wrap;padding-left: 2rem;">1.帳號系統：
  任何人都可以用ptt的帳號在股票系統上註冊帳號，
  但剛註冊完成時會不能使用任何功能，必須先通過認證。
  認證方法請參閱下方功能說明的帳號驗證。

2.股票的上市：
  任何人皆可以申請為某個ACGN作品的角色創立公司，
  做法是在「新創計劃」頁面底下點擊「建立新角色」。
  新創計劃申請之後會有至少一個小時的投資期限，
  在期限內，任何通過驗證的使用者皆可對此新創計劃進行投資，
  最低投資金額為100，最高不設限。
  一但下單成功，金錢就會立刻從使用者帳戶中扣除。
  只要期限到達且最終的投資人數超過10人以上，公司便會創立。
  若投資期限到達後投資人數仍未達10人，則投資期限會自動延長，直到投資人數足夠為止。

  公司創立之後將會釋出數量約1000的起始股份依投資格比率分給所有投資人，
  而該公司股票的起始價格即為所總投資額除以分發出去的投資股份數量。

  需要注意的是，原則上本系統禁止為相同的角色重複建立公司，
  而相同角色的定義則包含同一世界觀底下不同作品的所有相同角色。
  如有發現或被人舉報，後建立的公司將會被撤銷，所有股份皆歸零。
  投資有風險，須謹慎考量。

3.經理人與公司產品：
  當公司創立後，最初申請創立計劃的人即為該公司的經理人。
  經理人可以為負責的公司推出產品，
  為了避免儲存空間不夠的問題，系統內只存放「通往真正作品網頁」的連結，
  產品可以是同人圖、ANSI、同人文等等，產品的原作者不一定會是經理人，
  但請經理人在發布產品時務必通過原作者的同意，
  一但被原作者舉報，情節嚴重者將會取消經理人資格。

4.經理人的更迭：
  除了申請創立公司成為經理人，使用者還競爭已存在公司的經理人位置，
  一但有驗證通過的使用者競爭經理人，在下個商業季度開始後，
  所有持有該公司股票的股東便可以對所有競爭者進行投票，
  各股東的票權與其持股比率相當，
  在下個商業季度結束時，所得票權最高的參選人便可成為經理人。
  除此之外，公司的經理人隨時可以辭職不幹。

  目前經理人競選功能尚未完成，敬請期待。

5.公司的收益：
  一週為一個商業季度。（公測期間為三小時）
  每個商業季度結束時，上個商業季度推出的產品將會進入投票榜，
  所有通過驗證的使用者將會視當季的產品數量得到相同數量的推薦票，
  並對自己喜愛的產品投票推薦，每張推薦票都可以令產品公司獲得一定數量的營利額。
  當新的商業季度結束後，所有公司還會依據產品的總得票數進行排名，
  排名靠前的公司可再依據排行名次獲得數量不等的營益額，
  商業季度結束後，公司的收益金額將分出百分之五作為經理人的薪水，
  之後扣除缺百分之十五的營運成本，剩餘的收益金額則依照持股比例由股東均分。

6.買入股票：
  當公司成立之後，所有人就可以開始對該公司的股票下達購買訂單，
  下單時需決定「願意購買的每股單價」與「購買數量」，
  但最高單價不可高於該公司參考股價的兩倍、最低不可低於一半。
  一但下單成功，金錢就會立刻從使用者帳戶中扣除。
  確立的買入訂單可以取消，但需要付出一元的手續費用。

7.賣出股票：
  當公司成立之後，持有股票者可以在任何時候下達販賣訂單，
  下單時需決定「願意出手的每股最低單價」與「賣出數量」，
  但最高單價不可高於該公司參考股價的兩倍、最低不可低於一半。
  一但下單成功，持有股份會立刻從使用者帳戶中扣除。
  確立的賣出訂單可以取消，但需要付出一元的手續費用。

8.股票的交易：
  當有任下達任何買賣訂單時，系統會先檢視是否有價格優於或等於新訂單的訂單存在，
  若存在任何價格相符的訂單，則自動以「已存在的訂單價格」為準進行股票交易。
  直到新訂單的交易數量大於所有已存在的價格符合訂單的交易數量為止。
  舉例而言，若該公司存在三筆以單價10、15、20購入10股股票的訂單，
  此時有人下達了以單價15購入25股股票的訂單，
  則此訂單會先以20單價賣出10股，再15單價賣出10股，
  最後留下5股未交易的15單價賣出5股的訂單留在訂單列表中。
  在沒有任何股票成交時，股價不會有任何的變動。

  每隔三到六小時（公測期間為五到二十分鐘）的隨機時間，系統會以股票的當前交易價格取代其參考價格。

9.股票的釋出：
  當一家的公司股票上市後，每經過一小時，（公測期間為十分鐘）
  若該公司的股價在「全股市平均股價」之上，
  就會釋出更多的股票到市場上套利，
  釋出股票數量的上限為「其股價高出全股市平均股價的數量」與「百分之五的總釋股數量」取其低值，
  下限為1股，真正的釋出數量為下限到上限之間的隨機數字。
  釋出股票的單價會定為該股票當時的參考價格，
  交易過程與正常股票交易方式相同：價高者得，
  未即時交易完畢的釋股也會成為賣單掛在股市之上。
  整個釋股交易流程按照正常的交易方式影響股價。
  釋股過程裡售賣股票獲得的金額將算入該公司商業季度的營利額中。

6.帳戶的金錢來源：
  所有使用者在通過驗證後皆可以領到一萬元的起始資金，
  每經過二十四小時（公測期間為一小時），所有通過驗證的使用者都會再得到一千元的薪資。
  除此之外，每個商業季度結束時，
  經理人與股東皆可獲得公司收益的分紅。

7.公開透明原則：
  所有股票的買單、賣單、交易紀錄與所有帳戶的下單行為、持股量皆是公開的，
  任何一位已通過認證的帳戶都可以在「帳號資訊」頁面查詢得知。
      </div>
    </div>
    <div class="card-block">
      <h1 class="card-title">功能說明</h1>
      <hr />
      <div style="white-space: pre-wrap;padding-left: 2rem;">1.帳號驗證：
點擊畫面左上角的「未登入」連結即可註冊帳號，
註冊時請填入使用者在PTT的帳號，<span class="text-danger">切記，英文大小寫需與PTT使用者在推文時顯示的大小寫相同！</span>
註冊完畢後，畫面上將會提示您要去PTT哪個板、哪篇文章底下進行<span class="text-danger">推</span>文，按照提示操作即可。
當推文完畢後，不要急著點擊驗證按鈕，因為本系統是依靠截取PTT網頁板的資訊進行驗證的。
建議使用者先進入驗證文章的PTT網頁板，確認驗證推文已經出現在網頁上之後再點擊驗證。
除了使用者自己點擊驗證按鈕之外，為了節省計算效能，<span class="text-danger">任何人點擊驗證按鈕之時，都會同時對所有尚未通過驗證的使用者進行驗證。</span>
因此使用者很可能什麼按鈕也沒點就自行登入了。

2.即時訊息：
在即時訊息頁面中，使用者可以看到所有公司股票的成立與交易資訊，
驗證通過的使用者也能在此頁面進行聊天發言。
所有訊息在伺服器只保留一分鐘時間，
但若使用者保持停留在即時訊息頁面，舊的訊息是不會自動刪除的。

3.新創計劃：
在新創計劃頁面中，使用者可以建立新角色公司或者對創建中的計劃進行投資。
建立新角色時，搜索標籤需要一次鍵入一個，每鍵入一個就需要點擊右邊的新增按鈕以新增新的標籤。
新角色的圖檔有大小的限制，且顯示比率是固定的，請對要上傳的圖檔進行適當的切割、壓縮，
共同維持網站的流量效能與美觀。

4.股市總覽：
在股市總覽頁面中，使用者可以檢索所有股票的當前價格與基本資訊，並即時的進行股票買賣。
除此之外，若使用者是該公司的董事長（持有股份比例最高的人），
可以點擊「董事長稱謂」的資料欄位，進行頭銜的更換（比如老公或老婆）。
點擊每個角色公司的連結名稱則可以進入該角色的詳細頁面，
該頁面可以看到該角色股價的走勢圖、所有董事會成員持股比例與該角色公司成立以來的所有紀錄。

5.帳號查詢：
在帳號查詢頁面中，使用者可以查詢到自己或特定使用者帳號的所有資訊紀錄。

6.其他頁面：
尚在施工中，敬請期待。
      </div>
    </div>
  </div>
</template>