.chart {
    font: 10px sans-serif;
}

.chart path.candle.body {
    stroke-width: 0;
}

.chart path.candle.up {
    fill: #00AA00;
    stroke: #00AA00;
}

.chart path.candle.down {
    fill: #FF0000;
    stroke: #FF0000;
}
