.chart {
    font: 10px sans-serif;
}

.chart path.candle.body {
    stroke-width: 0;
}

.chart path.candle.up {
    fill: #FF0000;
    stroke: #FF0000;
}

.chart path.candle.down {
    fill: #00AA00;
    stroke: #00AA00;
}

.chart .grid line {
	stroke: lightgrey;
	stroke-opacity: 0.7;
	shape-rendering: crispEdges;
}

.chart .grid path {
	stroke-width: 0;
}
