.company-summary {
  border: 1px solid #dddddd;
  margin-top: 15px;
}
.company-summary .picture {
  width: 119px;
  height: 104px;
  text-align: center;
  vertical-align: middle;
  line-height: 104px;
  padding: 2px 2px 2px 17px;
  border-right: 1px solid #dddddd;
}
.company-summary .picture img {
  width: 100px;
  height: 100px;
}
.company-summary .info .row:not(:last-child) div {
  border-bottom: 1px solid #dddddd;
}
.company-summary .info .row div:not(:last-child) {
  border-right: 1px solid #dddddd;
}
.company-summary .info .row:not(:last-child) div:last-child {
  margin-right: 15px;
  padding-right: 0;
}
.company-summary .info .title {
  width: 120px;
  padding: 5px 15px;
}
.company-summary .info .content {
  padding: 5px 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.company-summary .extra {
  padding: 5px 15px;
  border-top: 1px solid #dddddd;
}