#main > .card {
  margin-bottom: 2rem;
}

.btn {
  cursor: pointer;
}

.border-grid-body {
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
.border-grid {
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

.company-summary {
  margin-top: 15px;
}

.company-summary .picture {
  width: 115px;
  padding-right: 15px;
  text-align: center;
}
.company-summary .picture img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.company-detail .picture {
  width: 315px;
  height: 300px;
  padding-right: 15px;
  text-align: center;
}
.company-detail .picture img {
  width: 300px;
  height: 300px;
  object-fit: scale-down;
}

/* 暗色主題 */
.container-dark .bg-info .media-body {
  color: #ffffff;
}
.container-dark .bg-info .media-body a {
  color: #000000;
}
.container-dark .table-success a {
  color: #000000;
}
.container-dark .modal-content {
  border: 1px solid #dddddd;
}
.container-dark .modal-header {
  border-bottom: 1px solid #dddddd;
}
.container-dark .modal-footer {
  border-top: 1px solid #dddddd;
}
